.topWrapper {
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}
.topWrapper__img {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  img {
    width: 100%;
  }
}
.topWrapper__title {
  margin: 10px auto 10px auto;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  font-family: "pt_serifbold";
}
.topWrapper__Details {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.details__comments {
  color: #e3231c;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.details__time {
  color: #969696;
  font-size: 12px;
  display: flex;
  align-items: center;

  i {
    font-size: 18px;
    margin-right: 8px;
  }
  span {
    color: #404040;
    font-weight: 600;
    margin-left: 5px;
  }
}

.bottomWrapper {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #969696;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.bottomWrapper__ingredients {
  width: 220px;
  margin-bottom: 10px;
  padding-right: 10px;
  width: 100%;
}
.ingredients__wrapp {
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
}

.bottomWrapper__recipe {
  width: 100%;

  h2 {
    font-family: "pt_serifbold";
  }

  ul {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 10px;
      font-family: "Montserrat";
      font-size: 15px;
      font-weight: 400;
      text-align: justify;
      color: #616161;
      counter-increment: steps;
      padding-left: 30px;
      position: relative;
      &::before {
        content: counter(steps) ". ";
        color: #8a867c;
        position: absolute;
        left: 5px;
      }
    }
  }
}

.bottomWrapper__photosWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
  width: 100%;
}

.photosWrapper__photo {
  width: 150px;
  height: 130px;
  margin-bottom: 8px;
  background: #969696;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
  }
}

.comments__name {
  margin-top: 50px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e3231b;
}
.comments {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  p {
    margin-top: 30px;
    font-weight: 400;
    color: #a9a5b0;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
  }
  form {
    width: 100%;
  }
  textarea {
    margin-top: 8px;
    box-sizing: border-box;
    width: inherit;
    min-height: 80px;
    border: 1px solid #e5e5e5;
    padding: 9px;
    font-family: monospace;
    outline: none;
    &:focus {
      border: 1px solid #80dd84;
    }
  }
}
.comments__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  input {
    padding: 9px;
    border: 1px solid #e5e5e5;
    outline: none;
    &:focus {
      border: 1px solid #80dd84;
    }
  }
  button {
    text-transform: uppercase;
    padding: 8px 15px;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    background-color: #a5d6a7;
    border: 1px solid #80dd84;
    cursor: pointer;

    &:hover {
      background-color: #80dd84;
    }
  }
}
@media (min-width: 500px) {
  .topWrapper__title {
    font-size: 30px;
  }
}
@media (min-width: 715px) {
  .topWrapper__title {
    font-size: 35px;
  }
}

@media (min-width: 915px) {
  .topWrapper__title {
    margin: 15px auto;
    font-size: 45px;
  }
  .topWrapper__Details {
    width: 720px;
    display: flex;
    justify-content: space-between;
  }

  .bottomWrapper {
    flex-wrap: nowrap;
  }
  .bottomWrapper__ingredients {
    width: auto;
  }
  .bottomWrapper__recipe {
    border-left: 1px solid #969696;
    padding-left: 30px;
    width: 680px;
  }

  .bottomWrapper__photosWrapper {
    justify-content: space-between;
    margin-top: 100px;
  }
  .photosWrapper__photo {
    cursor: pointer;
  }

  .comments {
    margin: 0 auto;
  }
  .comments_single {
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
    color: #616161;
  }
  .comments_nick {
    margin-top: 10px !important;
    text-align: right;
  }
}
