.article {
  width: 80%;
  margin: 0 auto;
  p {
    border: none !important;
  }
}
.article__title {
  color: #616161;
  font-size: 24px;
  font-weight: 400;
  font-family: "Montserrat";
  font-style: normal;
  text-align: center;
}
.article__img {
  margin-top: 40px;
  width: 100%;
}
.article__info {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    border-top: 1px solid #dddddd;
    width: 100%;
  }
  p {
    margin: 0 10px;
    color: #a9a9a9;
    font-size: 13px;
    font-family: "Montserrat";
  }
}
.article__description {
  margin-top: 35px;
  text-align: justify;
  color: #616161;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat";
  word-wrap: break-word;
  line-height: 1.8em;
}

.epik__title {
  font-family: "Montserrat";
  font-size: 18px;
  color: #e73923;
  font-weight: 400;
  margin: 30px 0;
}

.epik__description {
  margin-top: 10px;
  text-align: justify;
  color: #616161;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat";
  word-wrap: break-word;
  line-height: 1.8em;
}

.epik__ul {
  color: #616161;
}
.epik__li {
  color: #616161;
  text-align: justify;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 1.8em;
  font-family: "Montserrat", Verdana, Geneva, sans-serif;
  font-weight: 400;
}
