.Recipes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.recipes__category {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  div {
    margin-right: 10px;
    cursor: pointer;
  }
}
.activeCategory {
  color: green;
  font-weight: bolder;
}

@media (min-width: 665px) {
  .Recipes {
    justify-content: space-between;
  }
}
