.navWrapper {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba($color: #a5d6a7, $alpha: 0.9);
  width: 280px;
  transition: transform 1s;
  transform: translate(-100%);
}

.nav__element {
  padding: 20px;

  li {
    list-style-type: none;
    margin-bottom: 10px;
  }
  a {
    border-bottom: 1px solid black;
    margin-left: 40px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-family: "Merienda", cursive;
  }
}
.nav__nested {
  margin-top: 10px;
}
.close__ham {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  i {
    font-size: 40px;
  }
}
@media (min-width: 500px) {
  .close__ham {
    display: none;
  }

  .navWrapper {
    position: absolute;
    top: 214px;
    background-color: white;
    width: 100%;
    opacity: 0.8;
    transform: translate(0);

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: white;
      position: absolute;
      top: -2px;
    }
  }
  .nav {
    width: 100%;
    min-width: 360px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 5px rgba(11, 11, 11, 0.1);
    color: rgb(142, 142, 142);
    font-size: 20px;
  }

  .nav__element {
    display: flex;
    padding: 0 5px;
    margin: 0;
    height: 45px;

    li {
      list-style-type: none;
      position: relative;
      margin-bottom: 0px;
      transition: all 0.8s;

      &::after {
        transition: all 0.5s;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid green;
        height: 43px;
        transform: scale(0);
      }
      &::before {
        transition: all 0.5s;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        border: 1px solid green;
        height: 43px;
        transform: scale(0);
      }
      &:hover {
        background-color: rgba(142, 142, 142, 0.2);
        &::after {
          transform: scale(1);
        }
        &::before {
          transform: scale(1);
        }
      }
    }
    a {
      padding: 0 10px;

      border-bottom: none;
      text-decoration: none;
      margin-left: 0px;
      align-items: center;
      font-size: 18px;
      display: flex;
      color: black;
      height: 100%;
      transition: all 0.4s;
      &:hover {
        color: green;
      }
    }
  }
  .nav__element li:hover > .nav__nested {
    opacity: 1;
    visibility: visible;
    transform: translateY(121%);
  }
  .nav__nested {
    background-color: white;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 45px;
    left: -26px;
    opacity: 0;
    z-index: -100;
    visibility: hidden;
    transform: translateY(150%);
    transition: all 1s;

    li {
      height: 30px;
      width: 140px;
      display: flex;
      justify-content: center;
      margin: 0;
      border-top: 1px solid green;
      position: relative;

      &::after {
        content: "";
        border: none;
      }
      &::before {
        content: "";
        border: none;
      }
      &:first-child {
        border-top: none;
      }
      a {
        font-size: 15px;
      }
    }
  }
}
.activeLink {
  background-color: rgba(142, 142, 142, 0.2);
  position: relative;

  &::after {
    transition: all 1s;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid green;
    height: 43px;
    transform: scale(1);
  }
  &::before {
    transition: all 1s;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid green;
    height: 43px;
    transform: scale(1);
  }
}
@media (min-width: 700px) {
  .navWrapper {
    top: 269px;
  }
  .nav__element {
    height: 60px;

    a {
      font-size: 20px;
      padding: 0 20px;
    }
    li {
      &::after {
        height: 58px;
      }
      &::before {
        height: 58px;
      }
      &:hover {
        background-color: rgba(142, 142, 142, 0.2);
        &::after {
          transform: scale(1);
        }
        &::before {
          transform: scale(1);
        }
      }
    }
  }
  .nav__element li:hover > .nav__nested {
    transform: translateY(120%);
  }
  .nav__nested {
    bottom: 55px;
    left: -30px;
    li {
      height: 38px;
      width: 180px;
      a {
        font-size: 18px;
      }
    }
  }
  .activeLink {
    &::after {
      height: 58px;
    }
    &::before {
      height: 58px;
    }
  }
}

@media (min-width: 1060px) {
  .navWrapper {
    top: 339px;
  }
  .nav__element li:hover > .nav__nested {
    transform: translateY(117%);
  }
  .nav__nested {
    bottom: 55px;
    li {
      height: 45px;
      a {
        font-size: 20px;
      }
    }
  }
}
