.navWrapper {
  position: absolute;
  bottom: 1px;
  background-color: white;
  width: 100%;
  opacity: 0.8;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    top: -2px;
  }
}

.nav {
  width: 100%;
  min-width: 360px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 5px rgba(11, 11, 11, 0.1);
  color: rgb(142, 142, 142);
  font-size: 20px;
}

.nav__element {
  display: flex;
  padding: 0 20px;
  margin: 0;
  height: 60px;

  a {
    text-decoration: none;
    align-items: center;
    display: flex;
    color: black;
    height: 100%;
    transition: all 0.4s;
    &:hover {
      color: green;
    }
  }
  li {
    list-style-type: none;
    margin: 0 20px;
    position: relative;
  }
}
.nav__element li:hover > .nav__nested {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
}
.nav__nested {
  background-color: white;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 55px;
  left: -40px;
  opacity: 0;
  z-index: -100;
  visibility: hidden;
  transform: translateY(-2em);
  transition: all 1s;

  li {
    height: 45px;
    width: 127px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 10px;
    border-top: 1px solid green;
    &:first-child {
      border-top: none;
    }
  }
}
