.header {
  height: 230px;
  background-image: url("./Header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  color: white;
  font-size: 40px;
  font-family: "Merienda", cursive;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 30px 15px;
}
@media (min-width: 500px) {
  .header {
    height: 230px;
    position: relative;
  }
  .header__title {
    font-size: 60px;
    padding: 20px 15px;
  }
}
@media (min-width: 700px) {
  .header {
    height: 330px;
  }
  .header__title {
    padding: 30px 50px;
  }
}

@media (min-width: 1060px) {
  .header {
    height: 400px;
  }

  .header__title {
    font-size: 120px;
    text-shadow: 5px 3px 10px rgba(150, 150, 150, 0.5);
    letter-spacing: 2px;
  }
}
