.logo {
  text-align: center;
  font-size: 80px;
  background: "red";
}
.adminButton {
  position: fixed;
  right: 10px;
  top: 10px;
  color: lightblue;
  opacity: 0.5;
}
.layout__body {
  width: 1250px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}
.layout__content {
  width: 900px;
}
.layout__info {
  width: 270px;
}
.bottom {
  height: 150px;
  background-color: gray;
  margin-bottom: 10px;
}
.info__title {
  text-align: center;
}
.info__fot {
  font-family: "Muli", sans-serif;
  color: #777;
  width: 100%;
  height: 400px;
  margin: 20px 0;
}
